/* Here goes your CSS */
body {

    font: bold 16px 'Ubuntu', sans-serif;
    line-height: 10px;
    color: #8A8A8A;
    background-color: #F3F3F3;
}

h1 {
    font: bold 30px 'Ubuntu', sans-serif;
    line-height: 34px;
    color: #538A53;
}

h2 {
    font: bold 22px 'Ubuntu', sans-serif;
    line-height: 26px;
    color: #6B6B6B
}

h3 {
    font: bold 18px 'Ubuntu', sans-serif;
    line-height: 22px;
    color: #767676;
}

p {
    font: normal 15px 'Ubuntu', sans-serif;
    line-height: 20px;
    color: #767676
}

td {
  padding: 20px;
  text-align: justify;
}

a {
  color: #8A8A8A;
  text-decoration: none
}

li {
  list-style: none;
  line-height: 30px;
}

a:hover {
  font: bold 22px 'Ubuntu', sans-serif;
  color: #67AC67
}
.img-circle {
  width: 30%;
  border-radius: 50%;
}

.img-square {
  width: 150px;
  border-radius: 10px;
}

#double {
  border: 5px double #538A53;
}

.container {
  width: 600px;   /* Set width */
  margin: 50px auto; /* Automatically set left/right margins */
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 2px double #67AB67;
  text-align: center;
  padding: 30px;
  margin: 30px 0;

}

.list-inline > li {
  display: inline-block;
  padding: 20px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li > i {
  font-size: 25px;
}
